@import "../../styles/global/_colors"
@import "../../styles/global/_color-helpers"
@import '../../styles/mixins/filter/_filter-header'
  
=nio-forecast-widget 
  display: block !important
  .data-point
    &:last-child
      border-bottom:  1px solid $c-primary-lighter
    border-top:  1px solid $c-primary-lighter
  .full-width 
    width: 100%
  +nio-filter-header
  padding: 24px 32px
  background-color: $c-canvas
  border: 1px solid $c-primary-lighter
  border-radius: 0.75rem
  .title-description
    .description
      width: 320px
    .nio-button
      margin-top: 16px
      &.nio-button.v-btn.nio-button-secondary:disabled.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
        background-color: white !important
    .nio-pill
      transform: translateY(-4px)
      margin-left: 2px
  .filter-value
    display: flex
    width: 100%
    min-height: 75px
    flex-direction: row
    & > * + * 
      margin-top: 0px
    .module
      display: flex
      flex-direction: row
      height: 100%
      width: 50%
      .nio-divider
        height: 100%
      .module-content
        display: flex
        flex-direction: column
        align-items: left
        .nio-h6
          margin-bottom: 8px
        .result-value
          position: relative
          .nio-h3
            margin-bottom: 6px
          .nio-h5
            white-space: nowrap
          .v-progress-circular
            position: absolute
            left: 50%
            top: 50%
            margin-top: 8px
            margin-left: -16px
            z-index: 2
    &.delivered-data .module-content
      padding-left: 16px
  
.nio-forecast-widget
  +nio-forecast-widget