@import '../../../filter/_filter-header'
  
=nio-offer-ttd-3p-detail
  .detail-module
    +nio-filter-header
    .title-description
      margin-right: 1.5rem
    .filter-value
      .nio-autocomplete
        width: 100%
        flex-grow: 0
        ::-deep .item-container
          display: flex
          justify-content: flex-between
  & > .detail-module + .detail-module
    border-top: 0.0625rem solid $c-primary-lighter

.nio-offer-ttd-3p-detail
  +nio-offer-ttd-3p-detail

