@import '../../global/_colors'

=nio-slat
	display: flex
	justify-content: space-between
	align-items: center
	padding-left: 24px
	&:not(:last-child)
		box-shadow: inset 0px -1px 0px $c-primary-lighter
	.content
		flex-gros: 2
	.action
		margin-right: 40px
		flex-grow: 0

.nio-slat
	+nio-slat 
