@import "../../styles/global/_colors"
@import "../../styles/mixins/slat/_slat-group"
@import '../../styles/mixins/table/_slat-table-expanded-row'

=nio-buyer-studio-subscription
  +nio-slat-table-expanded-row
  .display-row
    &.providers
      .pills
        margin-top: 0.5rem
    &.included-filters
      width: 100%
      .applied-filters
        +nio-slat-group
        width: 100%
        border-radius: 0.5rem
        & > .applied-filter + .applied-filter
          border-top: 0.0625rem solid $c-primary-lighter
        .applied-filter
          display: flex
          justify-content: space-between
          padding: 0rem 2rem
          align-items: center
          height: 3.25rem
          background-color: $c-white
          .selected-filter-value
            display: flex
            align-items: center
            background: $c-white
            border: 0.0625rem solid $c-primary-lighter
            border-radius: 6.25rem
            padding: 0.25rem 1rem 0.25rem 0.75rem
            .text
              margin-left: 0.5rem
    .attributes
      width: 100%
      position: relative
      min-height: 8rem
      .nio-expansion-panels
        border-radius: 0.5rem 
        overflow: hidden
      .loading-attributes
        position: absolute
        top: 4rem
        left: 50%
        margin-top: -1.25rem
        margin-left: -1.25rem
  .split-row
    .display-row
      &.providers
        padding-right: 1.5rem
  .deduplication .period
    margin-top: 1rem
    margin-left: 0.25rem

.nio-buyer-studio-subscription
  +nio-buyer-studio-subscription 