=nio-budget-options
  
  .nio-custom-budget
    display: flex
    flex-direction: column
    align-items: center
    .nio-divider
      margin: calc(16px - 0.625rem) 0px 16px 0px
    

.nio-budget-options
  +nio-budget-options 