@import '../../global/_breakpoints'

=nio-options-grid 
  display: flex
  flex-wrap: wrap
  justify-content: center
  justify-items: center
  
  width: calc(100% + 1.25rem)
  margin-left: -0.625rem

  @media (max-width: $breakpoint-xs)
    flex-direction: column
    align-items: center
    
.nio-options-grid
  +nio-options-grid 
