@import '../../global/_colors'
  
=nio-slat-table 
  tr
    background-color: $c-white
    &.selected, &:hover
      background-color: $c-canvas

    td.static-cell *
      width: 120px
      white-space: nowrap
      overflow: hidden
      text-align: right
      
.nio-slat-table
  +nio-slat-table 	