@import '../../global/_colors'
@import '../slat/_slat-group'
@import '../_menu'
@import '../_select' 
@import '../_input' 

=nio-slat-table 
  +nio-slat-group 

  tr
    background-color: $c-white
    border-bottom: 0px !important
    box-shadow: inset 0px -1px 0px #DAE0F9
    
    &.selected, &:hover
      background-color: $c-canvas !important

    td
      padding: 16px 0px !important
      border-bottom: 0px !important

      &:first-child
        padding-left: 24px !important
      &:last-child
        padding-right: 24px !important

    td.selection-cell
      width: 24px
      padding-right: 24px !important

    td.static-cell
      width: 120px
      
    td.static-cell *
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-align: right

    td.action-cell
      width: 14px	
      ::v-deep .activator:hover, & > .nio-icon:hover
        cursor: pointer
        opacity: 0.5

      .item-menu
        +nio-menu

    & > td + td
      padding-left: 16px !important

  .actions-row:hover
    cursor: initial !important
    background-color: rgba(0, 0, 0, 0) !important

  ::v-deep .nio-slat-table-actions
    padding: 22px 0px !important
     
  ::v-deep .v-data-footer
    border-top: none !important
  
  &.action-expand tr:hover
    cursor: pointer
    ::v-deep .action-cell
      opacity: 0.5  

  .pagination-footer
    height: 70px
    padding: 16px
    padding-right: 24px
    display: flex
    justify-content: space-between
    align-items: center    
    .nio-select
      flex-grow: 0
      margin-bottom: 0
      width: 232px

    .pages
      display: flex	
.nio-slat-table
  +nio-slat-table