@import "../../global/_colors"

=nio-slat-table-header 
  height: 70px
  background-color: $c-canvas-darker

  ::v-deep .nio-slat-content
    flex-grow: 2
    display: flex
    justify-content: space-between

    .nio-select, .nio-text-field
      flex-grow: 0
      width: 260px

  ::v-deep .nio-slat-action
    display: none 

.nio-slat-table-header
  +nio-slat-table-header 