@import '../global/_colors'

=nio-button($variant: primary, $size: extra-large, $caps: false)
  display: block
 
  ::v-deep .v-btn__content
    z-index: 1

  font-weight: 600
  font-size: 0.75rem
  color: #ffffff
  box-shadow: none
  border-radius: 2.5rem	
  letter-spacing: 0.6px
  text-transform: none

  @if $variant == primary
    +nio-button-primary
  @else if $variant == secondary
    +nio-button-secondary
  @else if $variant == selected
    +nio-button-selected
  @else if $variant == error
    +nio-button-error 

  @if $size == extra-large 
    +nio-button-extra-large
  @else if $size == large
    +nio-button-large
  @else if $size == normal
    +nio-button-normal
  @else if $size == small
    +nio-button-small
  @else if $size == extra-small
    +nio-button-extra-small

  @if $caps == true
    +nio-button-caps
  
=nio-button-primary
  &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
    background-color: $c-primary
    color: $c-white
    border: 1px solid $c-primary      
    &:focus
      border: 1px solid $c-primary   
    &:not(.v-btn--text):not(.v-btn--outlined):focus:before
        opacity: 0    
  &:hover
    &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      background-color: $c-primary-dark
      border: 1px solid $c-primary-dark !important
  &:disabled.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)	
    opacity: 0.5 !important
    background-color: $c-primary !important
    color: $c-white !important
    border: 1px solid rgba($c-primary, 0.5) !important
    pointer-events: none
    cursor: initial
  
  &.v-btn--contained:active
    box-shadow: none !important
    background-color: $c-primary-darker !important
    border: 1px solid $c-primary-darker !important

=nio-button-secondary
  &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
    background-color: $c-white
    border: 1px solid $c-primary-light
    color: $c-primary
    &:focus
      border: 1px solid $c-primary    
      background-color: $c-canvas
      color: $c-primary-dark
    &:not(.v-btn--text):not(.v-btn--outlined):focus:before
      opacity: 0
  &:hover
    &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      background-color: $c-canvas
      color: $c-primary-dark
      border: 1px solid rgba($c-primary-light, 0.5)
  &:disabled.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)	
    opacity: 0.5 !important
    background-color: $c-canvas !important
    color: $c-primary !important
    border: 1px solid rgba($c-primary-light, 0.5) !important
    pointer-events: none
    cursor: initial
  &:active
    background-color: $c-white !important
    border: 1px solid $c-primary-light   !important 
    color: $c-primary !important

=nio-button-selected
  pointer-events: none
  border: none
  &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
    background-color: $c-primary-darker
    color: $c-white

=nio-button-error
  &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
    background-color: $c-white
    border: 1px solid $c-error
    color: $c-error
    &:focus
      background-color: lighten($c-error, 80)
      color: $c-error
    &:not(.v-btn--text):not(.v-btn--outlined):focus:before
      opacity: 0
  &:hover
    &.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      background-color: darken($c-white, 5)
      color: lighten($c-error, 5)
      border: 1px solid lighten($c-error, 5)
  &:disabled.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)	
    opacity: 0.5 !important
    border: 1px solid rgba($c-error, 0.5) !important
    pointer-events: none
    cursor: initial
  &:active
    background-color: lighten($c-error, 90) !important
    border: 1px solid $c-error   !important 
    color: $c-error !important

=nio-button-extra-large
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 30px
    font-size: 24px
    height: 52px
=nio-button-large
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 28px
    font-size: 20px
    height: 44px
=nio-button-normal
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 20px
    font-size: 16px
    height: 36px
=nio-button-small
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 14px
    font-size: 14px
    height: 28px
=nio-button-extra-small
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 10px
    font-size: 12px
    height: 24px

=nio-button-caps
  text-transform: uppercase		

.nio-button.v-btn
  +nio-button

  &.nio-button-primary
    +nio-button-primary
  &.nio-button-secondary
    +nio-button-secondary
  &.nio-button-selected
    +nio-button-selected
  &.nio-button-error
    +nio-button-error   

  &.nio-button-extra-large
    +nio-button-extra-large
  &.nio-button-large
    +nio-button-large
  &.nio-button-normal
    +nio-button-normal
  &.nio-button-small
    +nio-button-small
  &.nio-button-extra-small
    +nio-button-extra-small

  &.nio-button-caps
    +nio-button-caps       
 