@import '../global/_colors'

=nio-button($variant: primary, $size: extra-large, $caps: true) 
  ::v-deep .v-btn__content
    z-index: 1

  display: block
  padding-top: 1px !important
  letter-spacing: 0.05rem
  font-weight: 600
  box-shadow: none
  border-radius: 2.5rem
  text-transform: none

  @if $variant == primary
    +nio-button-primary
  @else if $variant == secondary
    +nio-button-secondary
  @else if $variant == selected
    +nio-button-selected
  @else if $variant == error
    +nio-button-error 

  @if $size == extra-large 
    +nio-button-extra-large
  @else if $size == large
    +nio-button-large
  @else if $size == normal
    +nio-button-normal
  @else if $size == small
    +nio-button-small
  @else if $size == extra-small
    +nio-button-extra-small

  @if $caps == true
    +nio-button-caps
  
=nio-button-primary
  background-color: $c-primary !important
  color: $c-white !important
  border: 0.0625rem solid $c-primary !important
  &:focus
    border: 0.0625rem solid $c-primary   
  &:focus:before
    opacity: 0 !important
  &:hover   
    background-color: $c-primary-dark !important
    border: 0.0625rem solid $c-primary-dark !important
  &:disabled
    opacity: 0.5 !important   
    color: $c-white !important
    border: 0.0625rem solid rgba($c-primary, 0.5) !important
    pointer-events: none !important
    cursor: initial !important
    & .v-icon
      color: white !important
    &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      background-color: $c-primary !important
  &.v-btn--contained:active
    box-shadow: none !important
    background-color: $c-primary-darker !important
    border: 0.0625rem solid $c-primary-darker !important

=nio-button-secondary
  background-color: $c-white !important
  border: 0.0625rem solid $c-primary-lighter !important
  color: $c-primary !important
  &:focus
    border: 0.0625rem solid $c-primary !important
    background-color: $c-canvas !important
    color: $c-primary-dark !important
  &:focus:before
    opacity: 0 !important
  &:hover
    background-color: $c-canvas !important
    color: $c-primary-dark !important
    border: 0.0625rem solid rgba($c-primary-light, 0.5) !important
  &:disabled	
    opacity: 0.5 !important
    color: $c-primary !important
    border: 0.0625rem solid rgba($c-primary-light, 0.5) !important
    pointer-events: none !important
    cursor: initial !important
    & .v-icon
      color: $c-primary !important
    &.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined)
      background-color: $c-canvas !important
  &:active
    background-color: $c-white !important
    border: 0.0625rem solid $c-primary-light   !important 
    color: $c-primary !important

=nio-button-tertiary
  +nio-button-secondary
  padding: 0rem !important
  border: none !important
  background-color: rgba(0,0,0,0) !important
  &:hover
    border: none !important
    background-color: rgba(0,0,0,0) !important
    &:before
      opacity: 0 !important
  &:disabled 
    border: none !important
    opacity: 0.5 !important          

=nio-button-selected
  pointer-events: none !important
  border: none !important
  background-color: $c-primary-darker !important
  color: $c-white !important

=nio-button-error
  background-color: $c-white !important
  border: 0.0625rem solid $c-error !important
  color: $c-error !important
  &:focus
    background-color: lighten($c-error, 80) !important
    color: $c-error !important
  &:focus:before
    opacity: 0 !important
  &:hover
    background-color: darken($c-white, 5) !important
    color: lighten($c-error, 5) !important
    border: 0.0625rem solid lighten($c-error, 5) !important
  &:disabled	
    opacity: 0.5 !important
    border: 0.0625rem solid rgba($c-error, 0.5) !important
    pointer-events: none !important
    cursor: initial !important
  &:active
    background-color: lighten($c-error, 90) !important
    border: 0.0625rem solid $c-error   !important 
    color: $c-error !important

=nio-button-extra-large
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 1.875rem
    font-size: 1.5rem
    height: 3.25rem
  &.nio-button-icon
    height: 3.25rem
    width: 3.25rem
=nio-button-large
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 1.75rem
    font-size: 1.25rem
    height: 2.75rem
=nio-button-normal
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 1.25rem
    font-size: 1rem
    height: 2.25rem
  &.nio-button-icon
    height: 2.375rem
    width: 2.375rem
=nio-button-small
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 0.875rem
    font-size: 0.875rem
    height: 1.75rem
=nio-button-extra-small
  &.v-btn:not(.v-btn--round).v-size--default
    padding: 0rem 0.625rem
    font-size: 0.75rem
    height: 1.5rem

=nio-button-caps
  text-transform: uppercase		

=nio-button-append
  i
    margin-left: 0.3125rem

=nio-button-prepend
  i
    margin-right: 0.3125rem

.nio-button.v-btn
  +nio-button

  &.nio-button-primary
    +nio-button-primary
  &.nio-button-secondary
    +nio-button-secondary
  &.nio-button-tertiary
    +nio-button-tertiary	
  &.nio-button-selected
    +nio-button-selected
  &.nio-button-error
    +nio-button-error   

  &.nio-button-extra-large
    +nio-button-extra-large
  &.nio-button-large
    +nio-button-large
  &.nio-button-normal
    +nio-button-normal
  &.nio-button-small
    +nio-button-small
  &.nio-button-extra-small
    +nio-button-extra-small

  &.nio-button-caps
    +nio-button-caps       
 
  &.nio-button-prepend
    +nio-button-prepend
  &.nio-button-append
    +nio-button-append
    
