=nio-combobox 
	.input-elements
		padding: 8px
		background-color: #EEE
		display: flex
		justify-content: flex-start
		.input-element-wrapper
			input
				background-color: #DDD
				font-family: monospace
				&:active
					width: auto
.nio-combobox
	+nio-combobox 