@import '../global/_colors'
  
=nio-dialog 
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  box-shadow: none
  padding: 1.5rem
  display: flex
  justify-content: center
  align-items: center

  .nio-dialog-scrim
    position: fixed
    z-index: 1
    top: 0
    left: 0
    width: 100%
    min-height: 100%
    background-color: $c-canvas-darker !important
    opacity: 0.9 !important
    backdrop-filter: blur(0.1875rem)
    box-shadow: none

  .nio-dialog-content
    z-index: 2 
    background-color: $c-white
    max-height: unset !important
    width: calc(100vw - 4rem)
    padding: 1.5rem
    border: 0.0625rem solid $c-primary-lighter !important
    box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1) !important
    border-radius: 0.75rem !important
    min-height: 12.5rem

.nio-dialog
  +nio-dialog

.v-enter,
.v-leave-to
  opacity: 0

.v-enter-active,
.v-leave-active
  transition: 0.07s
