@import "../global/_colors"
@import "../global/_color-helpers"
@import "./utility/_center-content"

=nio-file-uploader
  background: $c-canvas
  border: 1.5px dashed $c-primary-light
  box-sizing: border-box
  border-radius: 12px
  height: 420px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  text-align: center
  padding: 77px
  .graphic
    width: 120px
    height: 120px
    border-radius: 60px
    border: 1px solid $c-primary-lighter
    margin-bottom: 16px
    +nio-center-content
  .details
    .nio-h3
      margin-bottom: 8px
    .nio-p
      margin-bottom: 8px	
  .spacer
      margin-top: 8px
      margin-bottom: 8px
.nio-file-uploader
  +nio-file-uploader