@import "../global/_colors"

=nio-file-uploader
	background: $c-canvas
	border: 1.5px dashed $c-primary-light
	box-sizing: border-box
	border-radius: 12px
	height: 420px
	display: flex
	flex-direction: column
	align-items: center

.nio-file-uploader
	+nio-file-uploader