@import '../global/_colors'
@import './_checkbox'

=nio-menu
  border-radius: 0.3125rem
  .v-list
    padding: 10px
    .v-list-item
      padding: 0px 20px
      border-radius: 6px
      &:before
        border-radius: 6px
        opacity: 0
      &:hover
        background-color: $c-canvas
      &.v-list-item--active 
        background-color: darken($c-canvas, 5) 
        &:hover
          background-color: $c-canvas
      .v-list-item__title
        color: $c-primary-darker	!important 
      &:hover:not(.v-list-item--active):not(.v-list-item--disabled)	  
        color: $c-black !important
      .v-list-item__action
        margin-right: 5px
        .v-list-item__icon
          min-width: unset
        .v-simple-checkbox
          +nio-checkbox
      &.v-list-item--active
        .v-list-item__action
          .v-simple-checkbox     
            @extend .nio-checked
          