@import '../global/_colors'
@import './_text-field'
@import './_input'
@import './_menu'

=nio-select
  +nio-input
  height: 3.375rem
  margin-bottom: 1.25rem
  border-radius: 0.5rem
  background-color: $c-white
  ::v-deep .v-select__slot
    position: relative
    display: flex
    align-items: center
    max-width: 100%
    min-width: 0
    width: 100%
  &.v-select--is-menu-active 
    ::v-deep .v-input__slot
      border-color: $c-primary
      label
        letter-spacing: 0.0375rem
        font-size: 0.75rem
        top: 2.1875rem !important  
        color: $c-primary-dark !important 
  ::v-deep.v-input__slot .v-label.v-label--active
    letter-spacing: 0.0375rem
    font-size: 0.875rem
    top: 2.1875rem !important  
    color: $c-primary-dark !important
  &.v-text-field--outlined:not(.v-text-field--single-line) 
    ::v-deep .v-select__selections
      padding-top: 1.45rem
      flex-wrap: nowrap
      height: 4.0625rem
      margin-left: 1rem
      .v-select__selection
        letter-spacing: 0.0375rem
        font-size: 0.875rem
        color: $c-primary-darker
  .v-select__selections
      margin-left: 1rem
      font-size: 0.875rem
      color: $c-primary-dark    
  & .v-select__selection.v-select__selection--comma			
    margin: 0.4375rem 0.25rem 0.4375rem 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  ::v-deep .v-input__append-inner  
    margin-right: 1rem
  
  ::v-deep .v-menu__content
    +nio-menu

  &.selection-pills
    &.v-select--is-menu-active 
    ::v-deep .v-input__slot label.v-label.v-label--active     
      top: 1.9rem !important  
    .v-select__selections
      margin-left: 1rem
      font-size: 0.875rem
      color: $c-primary-dark   
      .nio-pill
        margin-top: 0.125rem
        margin-right: 0.375rem             
  


=fluid-width
  display: inline-block
  ::v-deep .v-input__control
    flex-grow: 0
    flex-shrink: 0
  ::v-deep .v-select__selections input
    display: none
  ::v-deep .v-select__selection
    max-width: unset
    padding-right: 5px
    overflow: visible
  ::v-deep label
    max-width: unset
  
=nio-select-small
  +nio-text-field
  +nio-text-field-small 
  ::v-deep 
    .v-input__control
      min-height: unset
    .v-input__slot 
      box-shadow: none !important
      border-width: 0.0625rem !important
      label
        top: 0.5625rem !important
        padding-left: 1rem !important
        font-size: 0.875rem !important
    .v-select__selection.v-select__selection--comma			
      font-size: 0.875rem
      color: $c-primary-dark    
    .v-select__selections
      margin-left: 1rem
      font-size: 0.875rem
      color: $c-primary-dark
      
.nio-select:not(.small)
  +nio-select
  &.fluid-width
    +fluid-width

.nio-select.small
  +nio-select-small
  &.fluid-width
    +fluid-width