@import '../global/_colors'
@import './_input'

=nio-select
  +nio-input
  height: 3.375rem
  margin-bottom: 1.25rem
  border-radius: 0.5rem
  background-color: $c-white
  &.v-select--is-menu-active 
    ::v-deep .v-input__slot
      border-color: $c-primary
      label
        letter-spacing: 0.0375rem
        font-size: 0.75rem
        top: 2.1875rem !important  
        color: $c-primary-dark !important 
  ::v-deep.v-input__slot .v-label.v-label--active
    letter-spacing: 0.0375rem
    font-size: 0.875rem
    top: 2.1875rem !important  
    color: $c-primary-dark !important
  &.v-text-field--outlined:not(.v-text-field--single-line) 
    ::v-deep .v-select__selections
      padding-top: 1.45rem
      flex-wrap: nowrap
      height: 4.0625rem
      .v-select__selection
        letter-spacing: 0.0375rem
        font-size: 0.875rem
        color: $c-primary-darker
  ::v-deep .v-input__append-inner  
    margin-right: 0px
  
.nio-select
  +nio-select
