@import './_select'

=nio-tags-field 
  position: relative
  +nio-select
  height: unset
  border: 0.0625rem solid
  border-color: rgba(0, 0, 0, 0)
  border-radius: 0.5rem
  overflow: hidden
  ::v-deep .v-text-field__details
    display: none
  ::v-deep .v-select__selections
    padding-top: 1.875rem !important
    padding-left: 0.75rem !important
    .selected
      box-shadow: 0rem 0rem 0.0625rem $c-primary-dark
      .nio-pill-content
        color: $c-primary 
  ::v-deep .v-input
    border: 0.0625rem solid
    border-color: $c-primary-lighter
    border-radius: 0.5rem
  ::v-deep .v-input__slot 
    background-color: white
    border: none
    label
      top: 1.425rem
    input
      padding-top: 0.375rem !important
      padding-left: 0.25rem !important
  ::v-deep .selected-value
    margin-right: 0.25rem
  .pill-wrapper
    padding-top: 0.375rem
    .nio-pill
      transform: translateY(-0.1875rem)
      ::v-deep .append:hover svg
        color: $c-primary-dark
        opacity: 1
  &.no-items ::v-deep .v-input__append-inner
    display: none
  &:not(.no-items) .v-input:not(.v-input--is-focused)
    &:hover
      ::v-deep .v-input__slot:hover,
      ::v-deep .v-select__selections:hover, 
      ::v-deep input:hover
        cursor: pointer !important
      ::v-deep .v-input__append-inner
        opacity: 0.7
  ::v-deep .v-input__append-inner
    transition: margin 300ms
    margin-top: 1.4rem !important
  &:not(.no-items) .v-input.v-input--is-focused
    ::v-deep .v-input__append-inner
      margin-top: 0.5rem !important
  .validation-error
    position: absolute
    top: 0.5rem
    right: 1rem
  ::v-deep .v-input.error--text
    border: 0.0625rem solid
    border-color: $c-error
    border-radius: 0.5rem
  ::v-deep .error--text 
    label.v-label.v-label--active
      color: $c-error !important
    .v-select__slot
      border-color: $c-error !important
    ::v-deep label, ::v-deep .v-label--active, ::v-deep .v-messages__message
      color: $c-error !important
    ::v-deep .v-text-field__details
      position: absolute
      overflow: visible
      bottom: -2rem
      left: 0rem
      padding-left: 0rem
  &.disabled
    ::v-deep .nio-icon
      display: none

.nio-tags-field
  +nio-tags-field 