@import './_select'

=nio-tags-field 
  +nio-select
  ::v-deep .v-select__selections
    padding-top: 30px !important
    padding-left: 12px !important
  ::v-deep .v-input__slot input
    padding-top: 6px !important
    padding-left: 4px !important
  ::v-deep .selected-value
    margin-right: 4px
  .pill-wrapper
    padding-top: 6px
    .nio-pill
      transform: translateY(-3px)
  &.no-items ::v-deep .v-input__append-inner
    display: none
  &:not(.no-items) .v-input:not(.v-input--is-focused)
    &:hover
      ::v-deep .v-input__slot:hover, 
      ::v-deep .v-select__selections:hover, 
      ::v-deep input:hover
        cursor: pointer !important
      ::v-deep .v-input__append-inner
        opacity: 0.7
  ::v-deep .v-input__append-inner
    margin-top: 8px !important
.nio-tags-field
  +nio-tags-field 