@import '../global/_colors'

=nio-text-field
  height: 3.375rem
  margin-bottom: 1.25rem
  border-radius: 0.5rem
  background-color: $c-white
  ::v-deep &.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details
    padding: 0rem
  ::v-deep .v-input__control    
    height: 100%
    position: relative
  ::v-deep .v-input__slot
    min-height: unset
    background-color: transparent
    border: 0.0625rem solid
    border-color: darken($c-primary-lightest, 5)
    border-radius: 0.5rem
    height: 100%
    margin-bottom: 0px
    input
      color: $c-primary-dark
      background-color: transparent
      max-height: unset
      height: 100%
      padding: 0rem 1rem
      padding-top: 1.0rem
      letter-spacing: 0.0375rem
      font-size: 0.875rem
      border-radius: 0.5rem
    label
      color: $c-primary-dark
      left: 1rem !important
      right: unset !important
      transform-origin: top left   
      height: unset
      line-height: unset
      top: 14px
    .v-label--active  
      letter-spacing: 0.0375rem
      font-size: 0.75rem
      top: 2.1875rem   
      color: $c-primary-dark !important 
    fieldset
      display: none
    .v-input__prepend-inner
      margin-left: 0.625rem
    input:-internal-autofill-selected 
      background-color: transparent !important
  
  // solo
  &.v-text-field--solo
    ::v-deep input
      padding-left: 16px
      max-height: initial
      height: unset
      padding: unset
      padding-top: unset
      padding-left: 16px
      letter-spacing: 0.0375rem
      font-size: 0.875rem
    ::placeholder
      color: $c-primary-dark !important
    ::v-deep .v-input__append-inner	
      margin-right: 16px
      i
        color: $c-primary-dark
    ::v-deep .v-input__slot
      height: 100%  
      border-width: 2px

  // focused state
  &.v-input--is-focused
    ::v-deep .v-input__slot
      border-color: $c-primary
    ::v-deep .v-label--active
      color: $c-primary !important

  // error state    
  &.error--text 
    ::v-deep .v-input__slot
      border-color: $c-error !important
    ::v-deep label, ::v-deep .v-label--active, ::v-deep .v-messages__message
      color: $c-error !important
    ::v-deep .v-text-field__details
      position: absolute
      overflow: visible
      bottom: -32px
      left: 0px
      padding-left: 0px
  // disabled state
  &.v-input--is-disabled
    ::v-deep .v-input__slot
      background-color: $c-canvas !important

.nio-text-field
  +nio-text-field
