@import '../global/_colors'

=nio-tooltip-content 
  width: 400px
  padding: 24px
  background-color: $c-white
  border: none
  box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1) !important
  opacity: 1
  transform: translate(-25px, 75px)

  .tooltip-title
    margin-bottom: 8px
  
.nio-tooltip-content
  +nio-tooltip-content 