@import '../../global/_colors'

=nio-filter-property 
  padding: 24px 32px
  border-top: 0.0625rem solid $c-primary-lighter

  .title-description
    margin-bottom: 24px
    .title
      margin-bottom: 6px
    .description.centered
      text-align: center

  .options
    display: flex
    justify-content: space-between

    & > .option + .option
      margin-left: 24px

    .option
      flex-basis: 0
      flex-grow: 2
      height: 68px
      display: flex
      justify-content: center
      align-items: center
      background: $c-white
      border: 1.5px solid $c-primary-lighter
      border-radius: 12px
      position: relative
      &.selected
        background: $c-canvas-darker
        border: 1.5px solid $c-primary-light
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1)
        color: $c-primary-darker
        
      &.custom-selected
        margin-bottom: 48px
        .custom-selected-pointer
          position: absolute
          width: 38px
          height: 64px
          bottom: -49px
          border-left: 19px solid transparent
          border-right: 19px solid transparent
          border-bottom: 32px solid $c-white

      &:not(.selected):hover
        cursor: pointer
        background-color: lighten($c-canvas-darker, 1)

  .custom-option
    position: relative
    .option-content
      width: 100%
      padding: 16px
      background-color: $c-white
      border-radius: 12px 
      position: relative

      // filter proprty types

      .date-range-custom
        display: flex
        justify-content: space-between
        align-items: center
        .nio-date-field
          flex-grow: 2
          ::v-deep .nio-text-field
            margin-bottom: 0px
        & > * + * 
          margin-left: 16px   

      .rolling-lookback-custom
        display: flex
        justify-content: flex-start
        align-items: center
        .selection
          display: flex
          justify-content: flex-start
          .nio-text-field, .nio-select
            margin-bottom: 0px
          .nio-text-field
            width: 60px
            ::v-deep .v-input__slot
              min-width: unset
              border-right: none
              border-width: 1px
              border-top-right-radius: 0px
              border-bottom-right-radius: 0px
          .nio-select
            width: 114px
            ::v-deep .v-input__slot
              border-top-left-radius: 0px
              border-bottom-left-radius: 0px
            ::v-deep .v-select__selections
              padding-top: 0.55rem
              .v-select__selection.v-select__selection--comma
                overflow: visible
                color: $c-primary-dark
            ::v-deep .v-input__append-inner
              margin-top: 15px
        & > * + * 
          margin-left: 16px

      .string-many-custom    
        ::v-deep .v-input--radio-group__input
          flex-direction: row
          .nio-radio-button
            margin-bottom: 0px
          & > .nio-radio-button + .nio-radio-button
            margin-left: 26px  
        

      .validation-error
        position: absolute
        left: 0px
        bottom: -20px
.nio-filter-property
  +nio-filter-property 