=nio-filter-join-option
  display: flex
  flex-direction: column
  .join-type
    height: 24px
    margin: 4px 0px
    ::v-deep .v-input
      margin-top: 0px
  .select-dataset
    margin-top: 4px
  .nio-alert
    margin-bottom: 0px
  .nio-radio-button.v-radio--is-disabled
    opacity: 0.5
.nio-filter-join-option
  +nio-filter-join-option