@import '../../global/_colors'

=nio-filter-property 
  padding: 0px
  .title-description
    margin-bottom: 24px
    .title
      margin-bottom: 6px
    .description.centered
      text-align: center

  .options
    display: flex
    justify-content: space-between

    & > .option + .option
      margin-left: 24px

    .option
      flex-basis: 0
      flex-grow: 2
      height: 68px
      display: flex
      justify-content: center
      align-items: center
      background: $c-white
      border: 1.5px solid $c-primary-lighter
      border-radius: 12px
      position: relative
      &.selected
        background: $c-canvas-darker
        border: 1.5px solid $c-primary-light
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1)
        color: $c-primary-darker

      &.custom-selected
        margin-bottom: 48px
        .custom-selected-pointer
          position: absolute
          width: 38px
          height: 64px
          bottom: -49px
          border-left: 19px solid transparent
          border-right: 19px solid transparent
          border-bottom: 32px solid $c-white

      &:not(.selected):hover
        cursor: pointer
        background-color: lighten($c-canvas-darker, 1)

  .custom-option
    position: relative
    .option-content
      width: 100%
      padding: 16px
      background-color: $c-white

.nio-filter-property
  +nio-filter-property 