=nio-filter-join-option
  display: flex
  flex-direction: column
  .join-type
    height: 1.5rem
    margin: 0.25rem 0rem
    ::v-deep .v-input
      margin-top: 0rem
  .select-dataset
    margin-top: 0.25rem
  .nio-alert
    margin-bottom: 0rem
  .nio-radio-button.v-radio--is-disabled
    opacity: 0.5
  .geometry-join-type
    .nio-select
      width: 12.5rem
      margin-bottom: 0rem
  &.summary
    .nio-select
      margin-bottom: 0rem
.nio-filter-join-option
  +nio-filter-join-option