=nio-step-header
	min-height: unset
	padding: 0px

	::v-deep .v-expansion-panel-header__icon
		display: none

	.nio-step-header-slat
		box-shadow: none
		display: flex
		justify-content: space-around
		align-items: center
		.step
			flex-grow: 0
			display: flex
			align-items: center
			.icon
				width: 24px
				height: 24px
				display: flex
				justify-content: center
				align-items: center

.nio-step-header
	+nio-step-header