=nio-step-content
	padding: 0px 24px 24px 24px

	.nio-step-content-body
		padding-bottom: 56px

	.nio-step-content-actions
		display: flex
		justify-content: flex-end
		& > * + *
			margin-left: 16px

.nio-step-content
	+nio-step-content