@import '../../global/_colors'
  
=nio-step-header
  min-height: unset
  padding: 0px
  background-color: $c-canvas

  ::v-deep .v-expansion-panel-header__icon
    visibility: hidden
    width: 0px

  .nio-step-header-slat
    box-shadow: none
    display: flex
    justify-content: space-between
    align-items: center
    ::v-deep .nio-slat-content, ::v-deep .nio-slat-action
      flex-basis: 0
      flex-grow: 2
    ::v-deep .nio-slat-content
      margin-right: 24px
    ::v-deep .nio-slat-action
      margin-right: 0px
      margin-left: 24px
      display: flex
      justify-content: center
      align-items: center  
    .step
      flex-grow: 0
      display: flex
      align-items: center
      .icon, .nio-icon
        margin-right: 16px
      .icon
        width: 24px
        height: 24px
        border-radius: 12px
        background-color: $c-primary-dark
        display: flex
        justify-content: center
        align-items: center
        .step-number
          color: $c-canvas
      .step-name
    .summary
      
    
      
  
  &.v-expansion-panel-header--active
    background-color: $c-white

  &.locked
    .nio-step-header-slat
      opacity: 0.5

.nio-step-header
  +nio-step-header