@import '../styles/global/_colors'
@import '../styles/mixins/utility/_center-content'
@import '../../styles/mixins/_menu'

=nio-nav-menu
  box-shadow: none
  .activator
    width: 2rem
    height: 2rem
    margin-left: 1.25rem
    padding: 0.3125rem
    padding: 0rem
    position: relative
    transition: opacity 0.1s ease
    border-radius: 0.25rem  
    background-color: $c-coral-dark
    +nio-center-content  
    .h3
      letter-spacing: 0rem
    &:hover
      cursor: pointer
      opacity: 0.8

.nio-nav-menu
  +nio-nav-menu		